:root {
  --dark: #343a40;
  --grayer: #495057;
  --gray: #6c757d;
  --gray-light: #ced4da;
  --light-gray: #adb5bd;
  --light: #dee2e6;
  --lighter: #e9ecef;
  --lightest: #faf9fa;
  --white: #fff;
  --blue: #007bff;
  --red: #dc3545;
  --content-width: 750px;
  --summary-width: 300px;
  --primary: #4A4D71;
  --text-color: var(--dark);
  --secondary: var(--grayer);
  --default: var(--gray);
  --third: var(--gray-light);
  --bg-color: var(--white);
  --border-color: var(--light);
  --hightlight: var(--blue);
  --header-height: 60px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100%;
}

body {
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
}

/*loading*/
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    tranform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    tranform: rotate(360deg);
  }
}