@import './globals.css';

.container {
  width: 100%;
  min-height: 100%;
  padding-top: var(--header-height);
}
.header {
  height: var(--header-height);
  border-bottom: 1px solid var(--border-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 10px;
  line-height: 40px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  font-size: 1.35rem;
  color: #4A4D71;
}
.header .logo img {
  margin-right: 10px;
  vertical-align: bottom;
}
.user-info {
  display: flex;
  align-items: center;
}
.avatar-img {
  border-radius: 50%;
  margin-right: 10px;
}
.header-inner {
  display: flex;
}
.body {
  width: 100%;
  height: 100%;
}
.welcome {
  display: flex;
  align-items: center;
  height: 400px;
  justify-content: center;
  flex-direction: column;
}
.welcome img {
  margin-bottom: 30px;
}
.welcome h1 {
  color: var(--primary);
  font-weight: normal;
}